body{

    background-color: #ada5a58a;
    margin: 00px 10px;
    
    }
    
    .container {
    
    margin: 70px 00px;
    
    }

    img {
    	height: 30px;
    	width: 30px;
    }
    
    h2{
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color:#f0e5e9cc;
    margin: 10px;
    text-shadow: 2px 2px 1px #8a1414d0;
    
    }
    
    p{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    color:#000000;
    
    }
    
    .head {
    
      background: linear-gradient(#000000cb, #000000cb), url(./images/blazewebb-background.jpg) center/cover fixed;
      height: 40px;
      width: 210px;
      margin-bottom: 10px;
    
    }
    
    #footer{
    
    height: 40px;
    width: auto;
    background-color: #353a41e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    footer p {
    
    color: #bec7d4e0
    
    }
    